*{
    box-sizing: border-box;
    font-family: 'Noto Serif TC', serif; 
}

html{
    scroll-behavior: smooth;
}

body {
    margin: 0;
    padding: 0;
}

.main{
    width: calc(100vw - 17px);
    height: 100vh;
    background-image: url("/img/宮原眼科/01.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position-y: -450px;
    position: relative;
}

.main .title{
    width: 220px;
    height: 736px;
    background-color: #2D2F36;
    position: absolute;
    top: 0;
    left: 366px;
}

.main .title h1 {
    font-size: 54px;
    writing-mode: vertical-lr;
    letter-spacing: 10px;
    font-weight: 600;
    margin: 0;
    z-index: 1;
    color: white;
    float: left;
    margin-top: 345px;
    
}

.main .title span {
    font-size: 45px;
    writing-mode: vertical-lr;
    letter-spacing: 1px;
    color: white;
    float: left;
    margin-top: 306px;
    margin-left: 45px;

}

#menubtn {
    position: fixed;
    top: 32px;
    right: 267px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 1%;
    overflow: hidden;
    z-index: 53;
}
  
#hamburger {
    width: 40px;
    cursor: pointer;
}
  
#hamburger span {
    display: block;
    width: 100%;
    height: 4px;
    border-radius: 4px;
    background-color: black;
    margin-bottom: 8px;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}
  
#hamburger.active span:nth-child(1) {
    
    transform: translateY(12px) rotate(45deg);
    background-color: black;
}

#hamburger.active span:nth-child(2) {
    opacity: 0;
}

#hamburger.active span:nth-child(3) {
    
    transform: translateY(-12px) rotate(-45deg);
    background-color: black;
}

#nav-inner{
    width: calc(100vw - 17px);
    height: 100vh;
    background-color: white;
    top: -2500px;
    transition: cubic-bezier(0.34, 0.08, 0.44, 0.82) 2.5s;
    z-index: 52;
    position: fixed;
    padding: 90px 140px;

    
}

#nav-inner.show{
    top: 0;
    transition:  cubic-bezier(0.34, 0.08, 0.44, 0.82) 1.5s;


}

#nav-inner .big-box{
    float: left;
}

#nav-inner .big-box h1{
    font-size: 44px;
    font-weight: bold;
    margin-bottom: 25px;
    letter-spacing: 14px;
}

#nav-inner .big-box span{
    font-size: 12px;
    font-weight: 500;
    line-height: 24px;
    
}

#nav-inner .inner-title{
    position: absolute;
    margin: 0 auto;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    display: flex;
}

#nav-inner .inner-title .text{
    writing-mode: vertical-rl;
    text-align: center;
    display: flex;
    align-content: flex-start;
    flex-wrap: wrap;
    margin:0 26px;
}

#nav-inner .inner-title .text hr{
    width: 20px;
    border: 1px solid black;
    margin:0 15px;
    margin-bottom: 37px;
}

#nav-inner .inner-title .text h1{
    margin: 0;
    font-size: 28px;
    margin-bottom: 37px;
    line-height: 52px;
    letter-spacing: 21px;
}

#nav-inner .inner-title .text span{
    font-size: 20px;
    font-weight: 500;
    line-height: 48px;
    letter-spacing: 5px;
     
}

#nav-inner .logo{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-color: #808080;
    float: right;
}

#nav-inner .box{
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%);
    text-align: center;
    margin-bottom: 72px;
}

#nav-inner .box h1{
    margin: 0; 
    font-size: 15px;
    font-weight: 600;
    letter-spacing: 10px;
}

#nav-inner .box hr{
    width: 90px;
    border: 1px solid black;
}

#nav-inner .box span{   
    font-size: 6px;
    font-weight: 500;
    letter-spacing: 0px;
}

.content .container {
    width: 970px;
    margin: 0 auto;
    padding: 0;
    position: relative;
}

.main .decoration{
    width: 1590px;
    height: 710px;
    background-color: white;
    position: absolute;
    top: 771px;
    left: 50%;
    transform: translate(-50%);
}

.content .address{
    font-size: 20px;
    font-weight: 600;
    position: absolute;
    top: -90px;
    right: 0;
}

.content .intro-img{
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    margin-top: 40px;
}

.content .intro-img .intro1{
    font-size: 16px;
    font-weight: 600;
    margin: 0;
    margin-bottom: 55px;

}

.content .intro-img .img1{
    width: 970px;
    height: 480px;
    background-image: url("/img/宮原眼科/02.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position-y: -100px;
    margin-bottom: 65px;
}

.content .intro-img .intro2{
    font-size: 16px;
    font-weight: 600;
    margin: 0;
    margin-bottom: 30px;

}

.content .intro-img .img2{
    width: 970px;
    height: 480px;
    background-image: url("/img/宮原眼科/03.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position-y: -200px;
    margin-bottom: 30px;
}

.content .intro-img .img3{
    width: 970px;
    height: 480px;
    background-image: url("/img/宮原眼科/04.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position-y: -100px;
    margin-bottom: 80px;
}

.content .intro-img .intro3{
    font-size: 16px;
    font-weight: 600;
    margin: 0;
    margin-bottom: 80px;

}

.content .intro-img .intro4{
    font-size: 16px;
    font-weight: 600;
    margin: 0;

}

.direction{
    position: relative;
}

.direction .container {
    width: 1170px;
    margin: 0 auto;
    padding: 0;

}

.direction h1 {
    font-size: 47px;
    width: 208px;
    line-height: 40px;
    letter-spacing: 5px;
    font-weight: 600;
    margin: 0;
    text-align: center;
    margin-top: 160px;
    margin-left: auto;
    margin-right: auto;
}

.direction h1 hr {
    border: 1px solid black;
    margin-top: 30px;
    margin-bottom: 12px;
}

.direction h1 span {
    font-size: 43px;
    line-height: 33px;
    letter-spacing: 0px;
}

.direction .solid {
    height: 115px;
    writing-mode: vertical-lr;
    border-left-style: solid;
    margin-top: 25px;
    margin-left: auto;
    margin-right: auto;
}

.direction .decoration{
    width: calc(100vw - 17px);
    height: 500px;
    background-color: #B3B3B3;
    z-index: -1;
    position: absolute;
    top: 185px;
}

.direction p{
    margin: 0;
    width: 971px;
    font-size: 16px;
    font-weight: 600;
    margin-top: 500px;
    margin-left: auto;
    margin-right: auto;
}

.last-menu{
    position: relative;
}

.last-menu #btn{
    font-size: 100px;
    position: absolute;
    bottom: -200px;
    left: calc(50% - 50px);
    z-index: 2;
    transition: 1s;
    transform: rotate(180deg);
}

.last-menu #inner .container{
    width: 1170px;
    margin: 0 auto;
    padding: 0;
}

.last-menu #inner h1 {
    font-size: 47px;
    width: 275px;
    line-height: 40px;
    letter-spacing: 5px;
    font-weight: 600;
    margin: 0;
    margin-top: 90px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    z-index: 1;
}

.last-menu #inner h1 hr {
    border: 1px solid black;
    margin-top: 30px;
    margin-bottom: 12px;
}

.last-menu #inner h1 span {
    font-size: 43px;
    line-height: 33px;
    letter-spacing: 0px;
}

.last-menu #inner .img-grounp{
    width: 100%;
    margin-top: 60px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: center;
}

.last-menu #inner .img{
    width: 200px;
    height: 200px;
    border-radius: 40px;
    background-image: url("/img/火車站/01.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position-x: -50px;
    margin-top: 50px;
    margin-left: 25px;
    margin-right: 25px;
}
.last-menu #inner .img2{
    width: 200px;
    height: 200px;
    border-radius: 40px;
    background-image: url("/img/盛橋/02.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position-x: -30px;
    margin-top: 50px;
    margin-left: 25px;
    margin-right: 25px;
}
.last-menu #inner .img3{
    width: 200px;
    height: 200px;
    border-radius: 40px;
    background-image: url("/img/宮原眼科/02.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position-x: -50px;
    margin-top: 50px;
    margin-left: 25px;
    margin-right: 25px;
}
.last-menu #inner .img4{
    width: 200px;
    height: 200px;
    border-radius: 40px;
    background-image: url("/img/陳沙茶繼光香香雞/店.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position-x: -50px;
    margin-top: 50px;
    margin-left: 25px;
    margin-right: 25px;
}
.last-menu #inner .img5{
    width: 200px;
    height: 200px;
    border-radius: 40px;
    background-image: url("/img/陳沙茶繼光香香雞/陳沙茶.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position-x: -80px;
    margin-top: 50px;
    margin-left: 25px;
    margin-right: 25px;
}
.last-menu #inner .img6{
    width: 200px;
    height: 200px;
    border-radius: 40px;
    background-image: url("/img/綠川/02.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position-x: -60px;
    margin-top: 50px;
    margin-left: 25px;
    margin-right: 25px;
}
.last-menu #inner .img7{
    width: 200px;
    height: 200px;
    border-radius: 40px;
    background-image: url("/img/第四信用/01.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position-x: -80px;
    margin-top: 50px;
    margin-left: 25px;
    margin-right: 25px;
}
.last-menu #inner .img8{
    width: 200px;
    height: 200px;
    border-radius: 40px;
    background-image: url("/img/台灣大道/幸.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position-x: -30px;
    margin-top: 50px;
    margin-left: 25px;
    margin-right: 25px;
}

.footer{
    position: relative;
    height: 60px;
    bottom: -200px;
    background-color: white;
}